@model IEnumerable<BulkyBookWeb.Models.MadVideo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


    <div class="row pt-4">
        <div class="col-6">
            <a asp-action="Create">Create New</a>
        </div>
        <div class="col-6 text-end">
            <form asp-controller="MadVideo" asp-action="Index">
    <p>
        Category: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
        </div>
    </div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Link) </a>                   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Player" id="@item.Id">PlayVideo</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
